dockerfile.builder
docker-bake.hcl
.github/
CI_CD.md
.git
.gitignore
LICENSE
CI_CD.md
tests/
example/
bench/
assets/
wheels/
dist/
build/
*.egg-info/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
.env
.vscode/
.idea/
*.swp
*.swo
*~